<h1><a href="/">Home</a></h1>
<ul>
  <li><a href="/users">사용자 목록</a></li>
  <li><a href="/boards">게시판 목록</a></li>

  {{#if user }}
  <li><a href="/signout">로그아웃</a></li>
  {{else}}
  <li><a href="/signup">회원가입</a></li>
  <li><a href="/signin">로그인</a></li>
  {{/if}}
</ul>

{{#if user}}
<div>안녕하세요. {{user.name}}님</div>
{{/if}}
<div id="main">{{{ markup }}}</div>

<script type="text/javascript" src="/js/bundle.js"></script>
<script type="text/javascript">
  React.render( DevCafe.Home(DevCafe.props), document.getElementById('main') ); 
</script>