<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DevCafe</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div id="wrap">
      {{> header }}
      <div id="main">{{{ markup }}}</div>
      <footer>
        아직은 베타 사이트입니다. 가입하셔도 시시때때로 삭제 될수있습니다. 
        테스트 계정은 test@test.com / 1234 입니다.
      </footer>
    </div>
    <script id="props" type="application/json">{{{ props }}}</script>
    <script type="text/javascript" src="/js/bundle.js"></script>
    <scr{{!}}ipt type="text/javascript">
      DevCafe.moment.locale('ko', DevCafe.loaded_locale);
      React.render( DevCafe.{{{component}}}(DevCafe.props), document.getElementById('main') ); 
    </scr{{!}}ipt>
    {{> ga_script }}
  </body>
</html>