<h1><a href="/">Home</a> > 게시판 목록</h1>
<ul>
  <li><a href="/members">사용자 목록</a></li>
  <li class="active"><a href="/boards">게시판 목록</a></li>
</ul>

<div id="main">{{{ markup }}}</div>

<script type="text/javascript" src="/js/bundle.js"></script>
<script type="text/javascript">
  React.render( DevCafe.PostMain(DevCafe.props), document.getElementById('main') ); 
</script>