<div id="wrap">
  <h1><a href="/">DevCafe</a></h1>
  <div id="main">{{{ markup }}}</div>
</div>
<script type="text/javascript" src="/js/bundle.js"></script>
<script type="text/javascript">
  React.render( DevCafe.PostMain(DevCafe.props), document.getElementById('main') ); 
</script>