{{#if user}}
<div>안녕하세요. {{user.name}}님</div>
{{/if}}
<div id="main">{{{ markup }}}</div>

<script type="text/javascript" src="/js/bundle.js"></script>
<script type="text/javascript">
  React.render( DevCafe.ResetPass(DevCafe.props), document.getElementById('main') ); 
</script>