#signup, #signin, #find_pass, #message {
  width: 248px;
  margin: 20px auto;

  .cell {
    margin: 2px;
  }

  select {
    width: 244px;
    padding: 5px;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input {
    height: 30px;
    line-height: 30px;
    width: 112px;
    padding-left: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &.disabled {
      background-color: #ccc;
    }
  }

  input[name=emailDomain] {
    float: right;
  }

  input[type=password]{
    float: right;
  }

  input[type=submit] {
    font-size: 14px;
    width: 244px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

#signin a {
  float: right;
}

#find_pass .findPassForm input.inputtext {
  width: 235px;
}

#message {
  width: 300px;
  text-align: center;
  .info {
    min-height: 100px;
  }
}