html, body, div, header, section, ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    font-weight: bolder;
  }
}

body {
  font-family: '맑은고딕', MalgunGothic, NaumGothic;
  font-size: 14px;
}

#top {
  position: relative;
  height: 48px;
  background: #111;
  line-height: 48px;

  &.admin {
    background: #234;

    .btn-admin {
      display: none;
    }

  }
  .greeting {
    float: right;
    color: #eee;
  }
}

#wrap {
  margin: 0 auto;
  min-width: 320px;
}


#logo {
  float: left;
  margin-left: 20px;
  display: block;
  width: 150px;
}
#logo a {
  color: #eee;
}

#topmenu {
  float: right;
  margin-right: 10px;
 
  li {
    float: left;
    padding: 0 5px;
    margin-left: 5px;
    font-size: 15px;

    a {
      color: #eee;
    }
  }
}

#profile {
  float: right;
  color: #888;
}

@import "home";
@import "board";
@import "admin";
@import "todo";